[run]
source = app
branch = True
omit =
    app/migrations/*
    app/__pycache__/*
    */tests/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    \.\.\.

show_missing = True
precision = 2

[html]
directory = htmlcov
title = Monitor Page Coverage Report
